<!DOCTYPE html>

</head>
        <title>404</title>
        <html lang="en">
        <link rel="stylesheet" href="/css/styles.css" />
         <link rel="icon" href="/img/weather-icon.png">


<head>


<body>
  
<div class="main-content">
  {{>header}}
  <p>{{errorMessage}}</p>

</div>


     {{>footer}}

    
</body>
</html>

links.mead.io/pic3